.full-body{
    min-height: 100vh;
    height: 100%;
}

/* code lama */
.container.login {
    display: flex;
    flex-direction: row;
    min-height: 98vh;

}

.imgcar
{
    background-image: url ('../../assets/img/sign1.png');
    display: flex;
    flex: auto;
    background-repeat: cover;
    background-attachment: fixed;

}

.field-login
{
    width: 30;
    padding-left: 100px;
    padding-top: 250px;

}

.input [type=text], input [type=password]
{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.button 
{
    width: 80%;
    background-color: blue;
    color: #ccc;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
